<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Создание нового события</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Название:</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation"
    >
      <small *ngIf="form.get('title').errors.required">
        Введите название, не может быть пустым!
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('date').touched && form.get('date').invalid}"
  >
    <label for="date">Дата проведения: </label>
    <input id="date" type="datetime-local" formControlName="date">
    <div
      *ngIf="form.get('date').touched && form.get('date').invalid"
      class="validation"
    >
      <small *ngIf="form.get('date').errors.required">
        Введите дату. Дата проведения, не может быть пустой!
      </small>
    </div>
  </div>


  <label for="description">Описание:</label>
  <input id="description" type="text" formControlName="description">

  <button
    type="submit"
    class="btn btn-block btn-primary"
    style="margin-top: 5px"
    [disabled]="form.invalid"
  >Создать</button>
</form>
