<div *ngIf="events.length; else loading">
    <div class="form-control">
        <input type="text" placeholder="Найти event..." [(ngModel)]="searchStr">
    </div>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Дата</th>
            <th>Сумма</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events | searchPosts:searchStr; let idx = index">
            <td>{{ idx + 1 }}</td>
            <td>{{ event.title }}</td>
            <td>{{ event.date | date:'medium':null:'ru' }}</td>
            <td>{{ event.totalEventSum | localizedCurrency: 'RUB': 'symbol-narrow'}}</td>
            <td>
                <button
                        class="btn btn-primary"
                        [routerLink]="['/user', 'event', event.id, 'edit']"
                >
                    Изменить
                </button>

                <button
                        class="btn btn-success"
                        [routerLink]="['/user', 'event', event.id, 'exp']"
                >
                    Расходы
                </button>

                <button
                        class="btn btn-danger"
                        (click)="remove(event.id)"
                >
                    Удалить
                </button>
<!--                <a-->
<!--                        (click)="remove(event.id)"-->
<!--                        class="text-danger"-->
<!--                >Удалить</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>


<ng-template #loading>
    <p class="text-center">Идет загрузка...</p>
</ng-template>
